@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon-dn84a6.eot');
  src:  url('fonts/icomoon-dn84a6.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon-dn84a6.ttf') format('truetype'),
    url('fonts/icomoon-dn84a6.woff') format('woff'),
    url('fonts/icomoon-dn84a6.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  /* add */
  text-rendering: auto;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.org-icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.org-icon.org-icon-radius {
  position: relative;
}
.org-icon.org-icon-radius:after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50px;
  background-color: #000;
  min-width: 20px;
  min-height: 20px;
  z-index: -1;
}

.icon-appd:before {
  content: "\e949";
}
.icon-bell:before {
  content: "\e94a";
}
.icon-bil:before {
  content: "\e94b";
}
.icon-biz:before {
  content: "\e94c";
}
.icon-blank:before {
  content: "\e94d";
}
.icon-book:before {
  content: "\e94e";
}
.icon-box:before {
  content: "\e94f";
}
.icon-business:before {
  content: "\e950";
}
.icon-calendar_edit_btn:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e952";
}
.icon-cancel:before {
  content: "\e953";
}
.icon-chart:before {
  content: "\e954";
}
.icon-circle:before {
  content: "\e955";
}
.icon-contents:before {
  content: "\e956";
}
.icon-copy:before {
  content: "\e957";
}
.icon-delivery:before {
  content: "\e958";
}
.icon-doc:before {
  content: "\e959";
}
.icon-document:before {
  content: "\e95a";
}
.icon-download:before {
  content: "\e95b";
}
.icon-edit:before {
  content: "\e95c";
}
.icon-est:before {
  content: "\e95d";
}
.icon-estimate:before {
  content: "\e95e";
}
.icon-execution:before {
  content: "\e95f";
}
.icon-external:before {
  content: "\e960";
}
.icon-eye:before {
  content: "\e961";
}
.icon-folder:before {
  content: "\e962";
}
.icon-function:before {
  content: "\e963";
}
.icon-gift:before {
  content: "\e964";
}
.icon-graph:before {
  content: "\e965";
}
.icon-heart:before {
  content: "\e966";
}
.icon-heart02:before {
  content: "\e967";
}
.icon-help:before {
  content: "\e968";
}
.icon-home:before {
  content: "\e969";
}
.icon-house:before {
  content: "\e96a";
}
.icon-import:before {
  content: "\e96b";
}
.icon-information:before {
  content: "\e96c";
}
.icon-input:before {
  content: "\e96d";
}
.icon-invoice:before {
  content: "\e96e";
}
.icon-item:before {
  content: "\e96f";
}
.icon-mail1:before {
  content: "\e970";
}
.icon-message_left:before {
  content: "\e971";
}
.icon-message_right:before {
  content: "\e972";
}
.icon-month:before {
  content: "\e973";
}
.icon-myfolder:before {
  content: "\e974";
}
.icon-people:before {
  content: "\e975";
}
.icon-plus_mark:before {
  content: "\e976";
}
.icon-plus:before {
  content: "\e977";
}
.icon-point:before {
  content: "\e978";
}
.icon-products:before {
  content: "\e979";
}
.icon-results:before {
  content: "\e97a";
}
.icon-search:before {
  content: "\e97b";
}
.icon-ser:before {
  content: "\e97c";
}
.icon-setting:before {
  content: "\e97d";
}
.icon-site:before {
  content: "\e97e";
}
.icon-slider:before {
  content: "\e97f";
}
.icon-star:before {
  content: "\e980";
}
.icon-upload:before {
  content: "\e981";
}
.icon-week:before {
  content: "\e982";
}
.icon-link13:before {
  content: "\e948";
}
.icon-link5:before {
  content: "\e940";
}
.icon-link6:before {
  content: "\e941";
}
.icon-link7:before {
  content: "\e942";
}
.icon-link8:before {
  content: "\e943";
}
.icon-link9:before {
  content: "\e944";
}
.icon-link10:before {
  content: "\e945";
}
.icon-link11:before {
  content: "\e946";
}
.icon-link12:before {
  content: "\e947";
}
.icon-link:before {
  content: "\e93c";
}
.icon-link2:before {
  content: "\e93d";
}
.icon-link3:before {
  content: "\e93e";
}
.icon-link4:before {
  content: "\e93f";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow2-down:before {
  content: "\e904";
}
.icon-arrow2-left:before {
  content: "\e905";
}
.icon-arrow2-right:before {
  content: "\e906";
}
.icon-arrow2-up:before {
  content: "\e907";
}
.icon-arrow3-down:before {
  content: "\e908";
}
.icon-arrow3-left:before {
  content: "\e909";
}
.icon-arrow3-right:before {
  content: "\e90a";
}
.icon-arrow3-up:before {
  content: "\e90b";
}
.icon-arrow4-down:before {
  content: "\e90c";
}
.icon-arrow4-left:before {
  content: "\e90d";
}
.icon-arrow4-right:before {
  content: "\e90e";
}
.icon-arrow4-up:before {
  content: "\e90f";
}
.icon-arrow5-down:before {
  content: "\e910";
}
.icon-arrow5-left:before {
  content: "\e911";
}
.icon-arrow5-right:before {
  content: "\e912";
}
.icon-arrow5-up:before {
  content: "\e913";
}
.icon-arrow6-down:before {
  content: "\e914";
}
.icon-arrow6-left:before {
  content: "\e915";
}
.icon-arrow6-right:before {
  content: "\e916";
}
.icon-arrow6-up:before {
  content: "\e917";
}
.icon-copy1:before {
  content: "\e918";
}
.icon-copy2:before {
  content: "\e919";
}
.icon-copy3:before {
  content: "\e91a";
}
.icon-copy4:before {
  content: "\e91b";
}
.icon-copy5:before {
  content: "\e91c";
}
.icon-copy6:before {
  content: "\e91d";
}
.icon-copy7:before {
  content: "\e91e";
}
.icon-copy8:before {
  content: "\e91f";
}
.icon-copy9:before {
  content: "\e920";
}
.icon-lang:before {
  content: "\e921";
}
.icon-lang2:before {
  content: "\e922";
}
.icon-lang3:before {
  content: "\e923";
}
.icon-lang4:before {
  content: "\e924";
}
.icon-mail:before {
  content: "\e925";
}
.icon-mail2:before {
  content: "\e926";
}
.icon-mail3:before {
  content: "\e927";
}
.icon-mail4:before {
  content: "\e928";
}
.icon-mail5:before {
  content: "\e929";
}
.icon-mail6:before {
  content: "\e92a";
}
.icon-mail7:before {
  content: "\e92b";
}
.icon-mail8:before {
  content: "\e92c";
}
.icon-phone:before {
  content: "\e92d";
}
.icon-phone2:before {
  content: "\e92e";
}
.icon-phone3:before {
  content: "\e92f";
}
.icon-phone4:before {
  content: "\e930";
}
.icon-phone5:before {
  content: "\e931";
}
.icon-phone6:before {
  content: "\e932";
}
.icon-phone7:before {
  content: "\e933";
}
.icon-phone8:before {
  content: "\e934";
}
.icon-phone9:before {
  content: "\e935";
}
.icon-phone10:before {
  content: "\e936";
}
.icon-phone11:before {
  content: "\e937";
}
.icon-search1:before {
  content: "\e938";
}
.icon-search2:before {
  content: "\e939";
}
.icon-search3:before {
  content: "\e93a";
}
.icon-search4:before {
  content: "\e93b";
}
