@charset "utf-8";

/*
  File Name   : common.css
  Description : コンテンツ共通パーツ
*/

/* icon new
============================================================ */
.com-icon-new {
  position: absolute;
  top: -10px;
  left: -10px;
  background: #e60012;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  white-space: nowrap;
  z-index: 2;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}
.section-pickup .com-icon-new {
  top: 5px;
  left: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}
.com-icon-new span {
  position: relative;
  top: 7px;
}
.section-detail-name .com-icon-new {
  width: auto;
  height: auto;
  background: none;
  color: #e60012;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  position: static;
  box-shadow: none;
}
body.detail .section-detail-name .company-name span {
  margin-right: 10px;
}

/* tablet
------------------------------------------------------------ */
@media screen and (max-width: 1100px) {
  .com-icon-new {
    top: -5px;
    left: 2px;
  }
  .com-icon-new span {
    position: relative;
    top: 7px;
  }
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .section-detail-name .com-icon-new {
    font-size: 14px;
  }
  body.detail .section-detail-name .company-name span {
    margin-right: 10px;
  }
}

/* web font
============================================================ */
.com-font-Oswald {
  font-family: "Oswald", sans-serif;
}
.com-font-Lato {
  font-family: "Lato", sans-serif;
}
.com-font-Roboto {
  font-family: "Roboto", sans-serif;
}

/* title
============================================================ */
.com-title-page-main {
  font-family: "Oswald", "Noto Sans Japanese", sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 8px;
  position: relative;
  right: -4px;
}
.com-list-title-main-wrap {
  margin: 0 0 24px;
}
.com-list-title-main-wrap .com-list-title-main {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
.com-list-title-main-wrap .com-list-title-lang-en {
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #999;
}

/* tablet
------------------------------------------------------------ */
@media screen and (max-width: 1100px) {
  .com-title-page-main {
    font-size: 28px;
  }
  .com-list-title-main-wrap {
    margin: 0 0 24px;
  }
}

/* section
============================================================ */
.com-section-inner {
  width: 1080px;
  margin: 0 auto;
}

/* tablet
------------------------------------------------------------ */
@media screen and (max-width: 1100px) {
  .com-section-inner {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .com-section-inner {
    width: 100%;
  }
}

/* section-search
============================================================ */
.com-section-search {
  position: relative;
  top: -62px;
}
.com-section-search > div {
  background-color: #191919;
  padding: 30px 30px 30px;
  box-sizing: border-box;
  position: relative;
}
.com-section-search .com-search-table {
  display: table;
  table-layout: fixed;
  width: 964px;
}
.com-section-search .com-search-table .com-search-table-cell {
  display: table-cell;
  padding-right: 16px;
}
.com-section-search .com-search-table .com-search-table-cell:last-child {
  padding-right: 0;
}
.com-section-search .com-search-table .com-search-table-cell .com-search-table-head {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  margin: 0 0 5px;
}
.com-section-search .com-search-table .com-search-table-cell .com-search-table-body > * {
  width: 100%;
}
.com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-input,
.com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-select {
  height: 36px;
  background-color: #303030;
  border: none;
  padding: 0 15px;
  color: #aaa;
}
.com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-select {
  padding-right: 40px;
}
.com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-input:focus,
.com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-select:focus {
  color: #fff;
}
.com-section-search .com-search-btn {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.com-section-search .com-search-btn > * {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
  color: #fff;
}
.com-section-search .com-search-btn:hover {
  opacity: .7;
}
.com-section-search .com-search-btn:before {
  content: "\e938";
  font-family: "icomoon" !important;
  width: 18px;
  height: 18px;
  display: block;
  line-height: 1.2;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* tablet
------------------------------------------------------------ */
@media screen and (max-width: 1100px) {
  /* section-search */
  .com-section-search {
    top: -62px;
  }
  .com-section-search > div {
    background-color: #191919;
    padding: 30px 30px 30px;
    box-sizing: border-box;
    position: relative;
  }
  .com-section-search .com-search-table {
    width: 80%;
    margin: 0 auto;
  }
  .com-section-search .com-search-table .com-search-table-cell {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .com-section-search .com-search-table .com-search-table-cell:last-child {
    padding-right: 0;
    margin-bottom: 0;
  }
  .com-section-search .com-search-table .com-search-table-cell .com-search-table-head {
    font-size: 13px;
    margin: 0 0 5px;
    max-width: 300px;
  }
  .com-section-search .com-search-table .com-search-table-cell .com-search-table-body {
    text-align: center;
  }
  .com-section-search .com-search-table .com-search-table-cell .com-search-table-body > * {
    width: 100%;
  }
  .com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-input,
  .com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-select {
    border-radius: 0;
  }
  .com-section-search .com-search-table .com-search-table-cell .com-search-table-body .com-search-select {
    padding-right: 40px;
  }
  .com-section-search .com-search-btn {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    margin: 30px 0 0;
    width: 40%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 56px;
  }
  .com-section-search .com-search-btn > * {
    display: block;
    width: 100%;
    text-indent: 0;
  }
  .com-section-search .com-search-btn > * {
    position: relative;
    height: 56px;
  }
  .com-section-search .com-search-btn:hover {
    opacity: 1;
  }
  .com-section-search .com-search-btn:before {
    display: none;
  }
  .com-section-search .com-search-btn > * > span {
    display: inline-block;
  }
  .com-section-search .com-search-btn > * > span:before {
    content: "\e938";
    font-family: "icomoon" !important;
    width: 18px;
    height: 18px;
    display: block;
    line-height: 1.2;
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-3em,-50%);
    transform: translate(-3em,-50%);
  }
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  /* section-search */
  .com-section-search > div {
    padding: 15px 15px 25px;
  }
  .com-section-search .com-search-table {
    width: 100%;
  }
  .com-section-search .com-search-table .com-search-table-cell {
    margin-bottom: 15px;
  }
  .com-section-search .com-search-btn {
    margin: 25px 0 0;
    width: 60%;
  }
}

/* com-list-wrap
============================================================ */
.com-list-wrap {
  padding-bottom: 30px;
  /* overflow: hidden; */
}
.com-list-wrap ul {
  margin: 0 -15px 0;
  width: auto;
  overflow: inherit;
}
.com-list-wrap li {
  width: 340px;
  margin: 0 15px 30px;
  z-index: 2;
  position: relative;
}
.com-list-wrap .com-item-wrap span {
  -webkit-transition: none;
  transition: none;
}
.com-list-wrap .com-item-wrap a {
  display: block;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
}
.com-list-wrap .com-item-wrap > a:after {
  content: "\e946";
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  text-shadow: #aaa;
}
/* .com-list-wrap .com-item-wrap a:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  -webkit-transition: none;
  transition: none;
  opacity: 1 !important;
}
.com-list-wrap .com-item-wrap a:hover:after,
.com-list-wrap .com-item-wrap a:hover:before {
  opacity: 1 !important;
} */
.com-list-wrap .com-item-wrap {
  opacity: 0;
}
.com-list-wrap .com-item-wrap:hover a {
  text-decoration: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}
.com-list-wrap .com-img-block {
  overflow: hidden;
  background-color: #888;
}
.com-list-wrap .com-img-block img {
  width: 100%;
  height: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.com-list-wrap .com-item-wrap span .com-img-block img {
  -webkit-transition: none;
  transition: none;
}
.com-list-wrap .com-item-wrap:hover .com-img-block img {
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  opacity: .65;
}
.com-list-wrap .com-item-wrap:hover span .com-img-block img {
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  opacity: 1;
}
.com-list-wrap .com-disc-block {
  background-color: #fff;
}
.com-list-wrap .com-disc-block-top {
  padding: 24px 30px;
}
.com-list-wrap .com-disc-block-bottom {
  padding: 20px 30px;
  border-top: dotted 1px #e9e9e9;
}
body.detail .com-category-name,
.com-list-wrap .com-category-name {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  /* border: solid 1px #333; */
  /* border-radius: 50px; */
  background-color: #666;
  padding: 5px 10px;
  line-height: 1;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 5px;
}
.com-list-wrap .com-company-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 10px 0 0;
}
.com-list-wrap .com-day-nomber {
  font-size: 14px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  color: #999;
  margin: 10px 0 0;
}
.com-address-nomber {
  font-size: 12px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  margin: 5px 0 0;
}
.com-list-wrap .com-type-name {
  font-size: 14px;
  font-weight: normal;
}
.com-info-table {
  margin: 10px 0 0;
}
.com-info-table th,
.com-info-table td {
  font-size: 14px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  color: #999;
  vertical-align: top;
  text-align: left
}
.com-info-table th {
  width: 58px;
}
.com-info-table td {
  padding-left: 1em;
}
.com-info-table td span {
  position: relative;
}
.com-info-table td span:before {
  content: "：";
  position: absolute;
  top: -3px;
  left: -1em;
}

/* tablet
------------------------------------------------------------ */
@media screen and (max-width: 1100px) {
  .com-list-wrap {
    padding-bottom: 30px;
  }
  .is-tablet .com-list-wrap ul {
    margin: 0 -10px 0;
    width: auto;
    overflow: inherit;
  }
  .com-list-wrap li,
  .is-tablet .com-list-wrap li {
    width: 50%;
    -webkit-width : calc(100% / 2);
    width : calc(100% / 2);
    margin: 0 0 30px;
    z-index: 2;
    padding: 0 10px;
  }
  .com-list-wrap .com-item-wrap a {
    display: block;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  }
  .com-list-wrap .com-item-wrap {
    opacity: 0;
  }
  .com-list-wrap .com-img-block {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
  }
  .com-list-wrap .com-img-block img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .com-list-wrap .com-item-wrap:hover .com-img-block img {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  .com-list-wrap .com-disc-block {
    background-color: #fff;
  }
  .com-list-wrap .com-disc-block-top {
    padding: 24px 30px;
  }
  .com-list-wrap .com-disc-block-bottom {
    padding: 20px 30px;
  }
  .com-list-wrap .com-category-name {
    font-size: 14px;
  }
  .com-list-wrap .com-company-name {
    font-size: 16px;
    margin: 10px 0 0;
  }
  .com-list-wrap .com-day-nomber {
    font-size: 14px;
    margin: 10px 0 0;
  }
  .com-list-wrap .com-type-name {
    font-size: 14px;
  }
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .com-list-wrap {
    padding-bottom: 0;
  }
  .com-list-wrap ul {
    margin: 0 -1.75% 0;
  }
  .com-list-wrap li {
    width: 100%;
    -webkit-width : calc(100% / 1);
    width : calc(100% / 1);
    margin: 0 0 20px;
    padding: 0 10px;
  }
  .com-list-wrap .com-disc-block-top {
    padding: 10px 10px;
  }
  .com-list-wrap .com-disc-block-bottom {
    padding: 5px 10px;
  }
  .com-list-wrap .com-category-name {
    font-size: 12px;
  }
  .com-list-wrap .com-company-name {
    font-size: 12px;
    margin: 5px 0 0;
  }
  .com-list-wrap .com-day-nomber {
    font-size: 12px;
    margin: 5px 0 0;
  }
  .com-list-wrap .com-type-name {
    font-size: 10px;
  }
  .com-list-wrap .com-type-name {
    font-size: 14px;
    font-weight: normal;
  }
  .com-info-table {
    margin: 10px 0 0;
  }
  .com-info-table th,
  .com-info-table td {
    font-size: 10px;
  }
  .com-info-table th {
    width: 40px;
  }
  .com-info-table td {
    padding-left: 1em;
  }
  .com-info-table td span {
    position: relative;
  }
  .com-info-table td span:before {
    content: "：";
    position: absolute;
    top: -3px;
    left: -1em;
  }
}

/* section-category-search
============================================================ */
.section-category-search {
  background-color: #fff;
  padding: 30px 0 10px;
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .section-category-search .com-section-inner {
    width: 100%;
  }
}

/* com-category-list-wrap
============================================================ */
.com-category-list-wrap ul {
  margin: 0 -10px 0;
  width: auto;
  overflow: inherit;
}
.com-category-list-wrap li {
  width: 255px;
  margin: 0 10px 20px;
  z-index: 2;
}
.com-category-list-wrap .com-item-wrap a {
  display: block;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.com-category-list-wrap .com-item-wrap {
  opacity: 1;
}
.com-category-list-wrap .com-item-wrap:hover a {
  text-decoration: none;
  opacity: .7;
}
.com-category-list-wrap .com-img-block {
  overflow: hidden;
}
.com-category-list-wrap .com-img-block img {
  width: 100%;
  height: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.com-category-list-wrap .com-img-block img:hover {
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
.com-category-list-wrap .com-type-name {
  font-size: 16px;
  font-weight: bold;
  margin: 14px 0 0;
}

/* tablet
------------------------------------------------------------ */
@media screen and (max-width: 1100px) {
  .com-category-list-wrap ul {
    margin: 0 -5px 0;
  }
  .com-category-list-wrap li {
    width: 25%;
    margin: 0 0 20px;
    z-index: 2;
    padding: 0 10px;
  }
  .com-category-list-wrap .com-item-wrap a {
    display: block;
    -webkit-transition: none;
    transition: none;
  }
  .com-category-list-wrap .com-item-wrap {
    opacity: 1;
  }
  .com-category-list-wrap .com-item-wrap:hover a {
    opacity: 1;
  }
  .com-category-list-wrap .com-img-block img {
    -webkit-transition: none;
    transition: none;
  }
  .com-category-list-wrap .com-img-block img:hover {
    -webkit-transform: none;
    transform: none;
  }
  .com-category-list-wrap .com-type-name {
    font-size: 14px;
    margin: 5px 0 0;
  }
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .com-category-list-wrap li {
    width: 33.333333333%;
    width : calc(100% / 3);
    margin: 0 0 10px;
    padding: 0 5px;
  }
  .com-category-list-wrap .com-type-name {
    font-size: 12px;
    margin: 5px 0 0;
  }
}

/* load-animation
============================================================ */
.com-load-parts {
  position: relative;
  top: 80px;
  left: 50%;
  margin-left: -10px;
}
.com-load-parts:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 4px solid rgba(0, 0, 0, .1);
  border-right: 4px solid rgba(0, 0, 0, .1);
  border-bottom: 4px solid rgba(0, 0, 0, .1);
  border-left: 4px solid #888;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load-animation 1.1s infinite linear;
  animation: load-animation 1.1s infinite linear;
  z-index: -1;
}
@-webkit-keyframes load-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .com-list-wrap {
  }
}

/* section-pickup
============================================================ */
.section-pickup {
  padding: 60px 0 60px;
  background-color: #191919;
  opacity: 0;
}
.section-pickup .com-list-title-main,
.section-pickup .com-list-title-lang-en {
  color: #fff;
}
.section-pickup .com-li-item {
  background-color: #fff;
  position: relative;
}
.section-pickup .com-item-img {
  width: 710px;
  float: left;
}
.section-pickup .com-item-disc {
  width: 370px;
  float: right;
}
.section-pickup .com-item-img img {
  width: 100%;
  height: auto;
}
.section-pickup .com-item-disc {
  padding: 20px 50px 10px;
  box-sizing: border-box;
}
.section-pickup .com-category-name {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  /* border: solid 1px #333; */
  /* border-radius: 50px; */
  background-color: #666;
  padding: 5px 10px;
  line-height: 1;
  box-sizing: border-box;
  display: inline-block;
}
.section-pickup .com-company-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0;
}
.section-pickup .com-day-nomber {
  font-size: 14px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  color: #999;
  margin: 10px 0 0;
}
.section-pickup .com-type-name {
  font-size: 14px;
  font-weight: normal;
  margin: 18px 0 0;
}
.section-pickup .com-disc-block-bottom {
  margin: 33px 0 0;
}
.section-pickup .com-link-btn {
  font-size: 14px;
  font-weight: normal;
  position: relative;
  font-weight: bold;
}
.section-pickup .com-link-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}
/* slider */
.com-img-slider-wrap {
  background-color: #fff;
  position: relative;
}
.com-img-slider-wrap:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #191919;
}
.section-pickup .slick-dots li {
  position: relative;
  display: inline-block;
  width: 30px !important;
  height: 6px !important;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.section-pickup .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 30px !important;
  height: 2px !important;
  padding: 0 !important;
  cursor: pointer;
  color: #fff !important;
  border: 0;
  outline: none;
  background: #fff !important;
}
.section-pickup .slick-dots li button:before {
  content: "" !important;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px !important;
  height: 2px !important;
  background-color: #888;
  text-align: center;
  opacity: .25;
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section-pickup .slick-dots {
  position: absolute;
  bottom: -42px !important;
}

/* tablet
------------------------------------------------------------ */
@media screen and (max-width: 1100px) {
  .section-pickup .com-item-img {
    width: 100%;
    float: none;
  }
  .section-pickup .com-item-disc {
    width: 100%;
    float: none;
  }
  .section-pickup .com-item-disc {
    padding: 20px 20px 30px;
  }
  .section-pickup .com-category-name {
    font-size: 14px;
  }
  .section-pickup .com-company-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
  }
  .section-pickup .com-day-nomber {
    font-size: 14px;
    font-weight: normal;
    font-family: "Lato", sans-serif;
    color: #999;
    margin: 10px 0 0;
  }
  .section-pickup .com-type-name {
    font-size: 14px;
    font-weight: normal;
    margin: 18px 0 0;
    display: inline-block;
    border: solid 1px #ddd;
    padding: 5px 10px;
  }
  .section-pickup .com-disc-block-bottom {
    margin: 20px 20px 0 0;
    text-align: center;
    padding: 25px 0 0;
    border-top: solid 1px #ddd;
  }
  .section-pickup .com-link-btn {
    font-size: 18px;
    font-weight: normal;
    position: relative;
    font-weight: bold;
  }
  .section-pickup .com-link-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
  }
  .com-img-slider-wrap:after {
    display: none;
  }
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .section-pickup .com-item-disc {
    padding: 20px 20px 30px;
  }
  .section-pickup .com-category-name {
    font-size: 12px;
  }
  .section-pickup .com-company-name {
    font-size: 14px;
    margin: 5px 0 0;
  }
  .section-pickup .com-day-nomber {
    font-size: 12px;
    margin: 5px 0 0;
  }
  .section-pickup .com-type-name {
    font-size: 12px;
    margin: 10px 0 0;
    padding: 5px 10px;
  }
  .section-pickup .com-disc-block-bottom {
    margin: 20px 20px 0 0;
    text-align: center;
    padding: 25px 0 0;
    border-top: solid 1px #ddd;
  }
  .section-pickup .com-link-btn {
    font-size: 18px;
    font-weight: normal;
    position: relative;
    font-weight: bold;
  }
  .section-pickup .com-link-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
  }
  .section-pickup .com-info-table th {
    width: 62px;
  }
}

/* section-bottom-categorys
============================================================ */
.section-bottom-categorys {
  padding: 60px 0;
}
.section-bottom-categorys .com-table-wrap {
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  padding: 20px 0;
}
.section-bottom-categorys th,
.section-bottom-categorys td {
  text-align: left;
  vertical-align: top;
}
.section-bottom-categorys th {
  width: 200px;
  padding: 10px 30px;
}
.section-bottom-categorys td {
  padding: 10px 25px;
}
.section-bottom-categorys td li {
  position: relative;
  padding: 5px 0;
}
.section-bottom-categorys td li:after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #e6e6e6;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-bottom-categorys td li a {
  padding: 10px 20px;
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .section-bottom-categorys {
    padding: 60px 0;
  }
  .section-bottom-categorys .com-table-wrap {
    padding: 0 0 20px;
  }
  .section-bottom-categorys th,
  .section-bottom-categorys td {
    display: block;
  }
  .section-bottom-categorys th {
    width: 100%;
    padding: 20px 0 0;
  }
  .section-bottom-categorys td {
    padding: 10px 0;
  }
  .section-bottom-categorys td ul {
    margin-left: -20px;
  }
  .section-bottom-categorys td li {
    padding: 5px 0;
  }
  .section-bottom-categorys td li a {
    padding: 10px 20px;
  }
}

/* paging
============================================================ */
.com-paging-wrap {
  position: relative;
  text-align: center;
  margin: 0 auto 60px;
}
.com-paging-wrap .com-paging ul {
  overflow: visible;
}
.com-paging-wrap .com-paging ul li {
  margin: 0 2.5px 0;
  /* border: solid 1px #eaeaea; */
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
}
.com-paging-wrap .com-paging ul li a,
.com-paging-wrap .com-paging ul li span {
  font-size: 13px;
  color: #666;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 42px;
  background-color: #fff;
}
.com-paging-wrap .com-paging ul li span {
  font-weight: bold;
  color: #fff !important;
  background-color: #888;
}
.com-paging-wrap .com-paging ul li.prev,
.com-paging-wrap .com-paging ul li.next {
  margin: 0 2.5px 0;
  /* border: solid 1px #eaeaea; */
  position: relative;
}
.com-paging-wrap .com-paging ul li:last-child {
  margin-right: 0;
}
.com-paging-wrap .com-paging ul li.prev:before,
.com-paging-wrap .com-paging ul li.next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}
.com-paging-wrap .com-paging ul li.prev:before {
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  border-top: none;
  border-right: none;
}