@charset "utf-8";

/*
  File Name   : module.css
  Description : 下層コンテンツ共通のスタイル
*/

/* table
============================================================ */
table.mod-table-basic {
  width: 100%;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
}
table.mod-table-basic th,
table.mod-table-basic td {
  padding: 8px 10px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
table.mod-table-basic th {
  background: #f3f3f3;
  vertical-align: top;
  width: 20%;
}
table.mod-table-basic td {
  background: #fff;
}
/* sp table
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  table.mod-table-basic {
    border-left: none;
  }
  table.mod-table-basic th,
  table.mod-table-basic td {
    border-right: none;
    width: 100%;
    display: block;
  }
}

/* icon
============================================================ */
/* arrow right */
.mod-icon-caret-right,
.mod-icon-chevron-right {
  position: relative;
}
.mod-icon-caret-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 5px;
  height: 5px;
  border: 5px solid transparent;
  border-left: 5px solid #666;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}
.mod-icon-chevron-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 4px;
  height: 4px;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

/* plus */
.mod-icon-plus {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
}
.mod-icon-plus:before,
.mod-icon-plus:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 2px;
  background-color: #666;
  transform: translateY(-50%);
}
.mod-icon-plus:after {
  top: 0;
  left: 50%;
  width: 2px;
  height: 10px;
  transform: translateY(0);
  transform: translateX(-50%);
}

/* tabs
============================================================ */
.mod-tab-nav,
.mod-tab-nav-static {
  zoom: 1;
  list-style: none;
  padding: 0 0 0 0;
  background: #ededf1;
  position: relative;
  z-index: 2;
  border: solid 1px #eee;
  border-bottom: none;
}
.mod-tab-nav:after,
.mod-tab-nav-static:after {
  content:".";
  display: block;
  height: 0;
  clear: both;
  line-height: 0;
  visibility:hidden;
}
.mod-tab-nav li,
.mod-tab-nav-static li {
  text-align: center;
  z-index: 300;
  position: relative;
  background: #ededf1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.mod-tab-nav li:first-child,
.mod-tab-nav-static li:first-child {
  margin-left: 0;
}
.mod-tab-nav li a,
.mod-tab-nav-static li a {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  color: #333;
  background: #ededf1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.mod-tab-nav li a:hover,
.mod-tab-nav-static li a:hover {
  background: #eee;
  color: #333;
}
.mod-tab-nav li a.active,
.mod-tab-nav li a.active,
.mod-tab-nav li a.active:hover,
.mod-tab-nav-static li.active,
.mod-tab-nav-static li a.active,
.mod-tab-nav-static li a.active:hover {
  background: #fff;
  color: #333;
  margin-bottom: 0;
}
.mod-tab-nav li a.active,
.mod-tab-nav-static li a.active {
  text-align: center;
  position: relative;
}
.mod-tab-nav li.active,
.mod-tab-nav-static li.active {
  border-bottom: none;
}
.mod-tab-detail {
  clear: both;
  width: 100%;
  height: auto;
  padding: 0 0 0;
  z-index: 1;
}
.mod-tab-detail > * a.active {
  display: block;
}
.js-tabbox {
  display: none;
}

/* input[type="checkbox"]
============================================================ */
.mod-checkbox-orig input[type="checkbox"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.mod-checkbox-orig label {
  position: relative;
  display: inline-block;
  word-break: break-all;
  cursor: pointer;
}
.mod-checkbox-orig label input[type="checkbox"] + span {
  position: relative;
  padding: 0 30px 0 30px;
}
.mod-checkbox-orig label span {
  display: inline-block;
  font-size: 13px;
  line-height: 2.2;
}
.mod-checkbox-orig label input[type="checkbox"] {
  position: absolute;
  top: -18px;
  left: 0;
  opacity: 0;
}
.mod-checkbox-orig label input[type="checkbox"] + span:before,
.mod-checkbox-orig label input[type="checkbox"] + span:after {
  content: '';
  position: absolute;
  /*top: -18px;*/
  left: 0;
  display: inline-block;
  box-sizing: border-box;
}
.mod-checkbox-orig label input[type="checkbox"] + span:before {
  z-index: 0;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: 2px #888 solid;
  border-radius: 5px;
  background-color: #fff;
}
.mod-checkbox-orig input[type="checkbox"] + span:after {
  z-index: 1;
  margin: 5px 8px;
  width: 6px;
  height: 9px;
}
.mod-checkbox-orig label input[type="checkbox"]:checked + span:before {
  background-color: #888;
}
.mod-checkbox-orig label input[type="checkbox"]:checked + span:after {
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* input[type="radio"]
==================================================================================================== */
.mod-radio-orig input[type="radio"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.mod-radio-orig:after {
  display: block;
  content: '';
  clear: both;
}
.mod-radio-orig label {
  position: relative;
  display: inline-block;
  word-break: break-all;
  cursor: pointer;
}
.mod-radio-orig label input[type="radio"] + span {
  position: relative;
  padding: 0 20px 0 28px;
}
.mod-radio-orig label span {
  display: inline-block;
  font-size: 13px;
  line-height: 1.4;
}
.mod-radio-orig label input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.mod-radio-orig label input[type="radio"] + span:before {
  position: absolute;
  display: inline-block;
  content: '';
  box-sizing: border-box;
  border-radius: 18px;
}
.mod-radio-orig label input[type="radio"] + span:before {
  z-index: 0;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border: 2px #888 solid;
}
.mod-radio-orig label input[type="radio"]:checked + span:before {
  border-width: 6px;
}

/* selectbox
==================================================================================================== */
.mod-selectbox-orig {
  display: inline-block;
  min-width: 200px;
  margin: 0 0 0 0;
  position: relative;
}
.mod-selectbox-orig.mod-selectbox-icon-caret:after {
  content: "";
  position: absolute;
  top: 60%;
  right: 15px;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-top: 5px solid #111;
  -webkit-transform: rotate(0deg) translateY(-50%);
  transform: rotate(0deg) translateY(-50%);
  pointer-events: none;
}
.mod-selectbox-orig.mod-selectbox-icon-chevron:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 20px;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  pointer-events: none;
}
.mod-selectbox-orig select {
  /* display: inline-block; */
  /* border: solid 1px #aaa; */
  width: 100%;
  height: 36px;
  /* margin: 0 0 0 0; */
  /* padding: 5px 30px 5px 10px; */
  border-radius: 0 0 0 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.mod-selectbox-orig select option:first-child {
  color: #000;
}
select::-ms-expand {
  display: none;
}

/* utiiities
============================================================ */
/*** float ***/
.mod-clear {
  clear: both;
}

/*** speak ***/
.mod-skip-contents {
  speak: none;
}

/*** hide ***/
.mod-hide {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
}

/*** clearfix ***/
.mod-clearfix:before,
.mod-clearfix:after {
  content: " ";
  display: table;
}
.mod-clearfix:after {
  clear: both;
}

/*** align ***/
.mod-align_r {
  text-align: right !important;
}
.mod-align_c {
  text-align: center !important;
}
.mod-align_l {
  text-align: left !important;
}
.mod-justify {
  text-align: justify;
}

/*** panel layout ***/
.mod-panel-layout {
  display: table;
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  word-spacing: -.4em;
  display: block\9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
.mod-panel-layout .panel-layout-child,
.mod-panel-layout > article,
.mod-panel-layout > figure,
.mod-panel-layout > li,
.mod-panel-layout > div,
.mod-panel-layout > p,
.mod-panel-layout > section {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  word-spacing: normal;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

