@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon-dn84a6.eot');
  src:  url('fonts/icomoon-dn84a6.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon-dn84a6.ttf') format('truetype'),
    url('fonts/icomoon-dn84a6.woff') format('woff'),
    url('https://www.bariuma.biz/assets/icons/fonts/icomoon.svg?dn84a6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  /* add */
  text-rendering: auto;
}

/* [class^="icon-"],
[class*=" icon-"]  */
.org-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-access-map-01:before {
  content: "\e900";
}
.icon-access-map-02:before {
  content: "\e901";
}
.icon-access-map-03:before {
  content: "\e902";
}
.icon-access-map-04:before {
  content: "\e903";
}
.icon-access-map-05:before {
  content: "\e904";
}
.icon-access-map-06:before {
  content: "\e905";
}
.icon-access-map-07:before {
  content: "\e906";
}
.icon-access-map-08:before {
  content: "\e907";
}
.icon-access-map-09:before {
  content: "\e908";
}
.icon-access-map-10:before {
  content: "\e909";
}
.icon-access-pin-01:before {
  content: "\e90a";
}
.icon-access-pin-02:before {
  content: "\e90b";
}
.icon-access-pin-03:before {
  content: "\e90c";
}
.icon-access-pin-04:before {
  content: "\e90d";
}
.icon-access-pin-05:before {
  content: "\e90e";
}
.icon-access-pin-06:before {
  content: "\e90f";
}
.icon-access-pin-07:before {
  content: "\e910";
}
.icon-access-pin-08:before {
  content: "\e911";
}
.icon-access-pin-09:before {
  content: "\e912";
}
.icon-access-pin-10:before {
  content: "\e913";
}
.icon-access-pin-11:before {
  content: "\e914";
}
.icon-access-pin-12:before {
  content: "\e915";
}
.icon-access-pin-13:before {
  content: "\e916";
}
.icon-access-pin-14:before {
  content: "\e917";
}
.icon-access-pin-15:before {
  content: "\e918";
}
.icon-access-pin-16:before {
  content: "\e919";
}
.icon-access-pin-17:before {
  content: "\e91a";
}
.icon-access-pin-18:before {
  content: "\e91b";
}
.icon-access-pin-19:before {
  content: "\e91c";
}
.icon-access-pin-20:before {
  content: "\e91d";
}
.icon-allow-down-01:before {
  content: "\e91e";
}
.icon-allow-down-02:before {
  content: "\e91f";
}
.icon-allow-down-03:before {
  content: "\e920";
}
.icon-allow-down-04:before {
  content: "\e921";
}
.icon-allow-down-05:before {
  content: "\e922";
}
.icon-allow-down-06:before {
  content: "\e923";
}
.icon-allow-down-07:before {
  content: "\e924";
}
.icon-allow-down-08:before {
  content: "\e925";
}
.icon-allow-down-09:before {
  content: "\e926";
}
.icon-allow-down-10:before {
  content: "\e927";
}
.icon-allow-down-11:before {
  content: "\e928";
}
.icon-allow-down-12:before {
  content: "\e929";
}
.icon-allow-down-13:before {
  content: "\e92a";
}
.icon-allow-down-14:before {
  content: "\e92b";
}
.icon-allow-down-15:before {
  content: "\e92c";
}
.icon-allow-down-16:before {
  content: "\e92d";
}
.icon-allow-down-17:before {
  content: "\e92e";
}
.icon-allow-down-18:before {
  content: "\e92f";
}
.icon-allow-down-19:before {
  content: "\e930";
}
.icon-allow-down-20:before {
  content: "\e931";
}
.icon-allow-down-21:before {
  content: "\e932";
}
.icon-allow-down-22:before {
  content: "\e933";
}
.icon-allow-down-23:before {
  content: "\e934";
}
.icon-allow-down-24:before {
  content: "\e935";
}
.icon-allow-down-25:before {
  content: "\e936";
}
.icon-allow-down-26:before {
  content: "\e937";
}
.icon-allow-down-27:before {
  content: "\e938";
}
.icon-allow-down-28:before {
  content: "\e939";
}
.icon-allow-down-29:before {
  content: "\e93a";
}
.icon-allow-down-30:before {
  content: "\e93b";
}
.icon-allow-down-31:before {
  content: "\e93c";
}
.icon-allow-down-32:before {
  content: "\e93d";
}
.icon-allow-down-33:before {
  content: "\e93e";
}
.icon-allow-down-34:before {
  content: "\e93f";
}
.icon-allow-down-35:before {
  content: "\e940";
}
.icon-allow-down-36:before {
  content: "\e941";
}
.icon-allow-down-37:before {
  content: "\e942";
}
.icon-allow-down-38:before {
  content: "\e943";
}
.icon-allow-down-39:before {
  content: "\e944";
}
.icon-allow-down-40:before {
  content: "\e945";
}
.icon-allow-down-41:before {
  content: "\e946";
}
.icon-allow-down-42:before {
  content: "\e947";
}
.icon-allow-down-43:before {
  content: "\e948";
}
.icon-allow-down-44:before {
  content: "\e949";
}
.icon-allow-down-45:before {
  content: "\e94a";
}
.icon-allow-down-46:before {
  content: "\e94b";
}
.icon-allow-down-47:before {
  content: "\e94c";
}
.icon-allow-down-48:before {
  content: "\e94d";
}
.icon-allow-down-49:before {
  content: "\e94e";
}
.icon-allow-down-50:before {
  content: "\e94f";
}
.icon-allow-down-51:before {
  content: "\e950";
}
.icon-allow-down-52:before {
  content: "\e951";
}
.icon-allow-down-53:before {
  content: "\e952";
}
.icon-allow-down-54:before {
  content: "\e953";
}
.icon-allow-down-55:before {
  content: "\e954";
}
.icon-allow-down-56:before {
  content: "\e955";
}
.icon-allow-down-57:before {
  content: "\e956";
}
.icon-allow-down-58:before {
  content: "\e957";
}
.icon-allow-down-59:before {
  content: "\e958";
}
.icon-allow-down-60:before {
  content: "\e959";
}
.icon-allow-down-61:before {
  content: "\e95a";
}
.icon-allow-down-62:before {
  content: "\e95b";
}
.icon-allow-down-63:before {
  content: "\e95c";
}
.icon-allow-down-64:before {
  content: "\e95d";
}
.icon-allow-down-65:before {
  content: "\e95e";
}
.icon-allow-down-66:before {
  content: "\e95f";
}
.icon-allow-down-67:before {
  content: "\e960";
}
.icon-allow-down-68:before {
  content: "\e961";
}
.icon-allow-down-69:before {
  content: "\e962";
}
.icon-allow-down-70:before {
  content: "\e963";
}
.icon-allow-down-71:before {
  content: "\e964";
}
.icon-allow-down-72:before {
  content: "\e965";
}
.icon-allow-down-73:before {
  content: "\e966";
}
.icon-allow-down-74:before {
  content: "\e967";
}
.icon-allow-down-75:before {
  content: "\e968";
}
.icon-allow-down-76:before {
  content: "\e969";
}
.icon-allow-down-77:before {
  content: "\e96a";
}
.icon-allow-down-78:before {
  content: "\e96b";
}
.icon-allow-down-79:before {
  content: "\e96c";
}
.icon-allow-down-80:before {
  content: "\e96d";
}
.icon-allow-left-01:before {
  content: "\e96e";
}
.icon-allow-left-02:before {
  content: "\e96f";
}
.icon-allow-left-03:before {
  content: "\e970";
}
.icon-allow-left-04:before {
  content: "\e971";
}
.icon-allow-left-05:before {
  content: "\e972";
}
.icon-allow-left-06:before {
  content: "\e973";
}
.icon-allow-left-07:before {
  content: "\e974";
}
.icon-allow-left-08:before {
  content: "\e975";
}
.icon-allow-left-09:before {
  content: "\e976";
}
.icon-allow-left-10:before {
  content: "\e977";
}
.icon-allow-left-11:before {
  content: "\e978";
}
.icon-allow-left-12:before {
  content: "\e979";
}
.icon-allow-left-13:before {
  content: "\e97a";
}
.icon-allow-left-14:before {
  content: "\e97b";
}
.icon-allow-left-15:before {
  content: "\e97c";
}
.icon-allow-left-16:before {
  content: "\e97d";
}
.icon-allow-left-17:before {
  content: "\e97e";
}
.icon-allow-left-18:before {
  content: "\e97f";
}
.icon-allow-left-19:before {
  content: "\e980";
}
.icon-allow-left-20:before {
  content: "\e981";
}
.icon-allow-left-21:before {
  content: "\e982";
}
.icon-allow-left-22:before {
  content: "\e983";
}
.icon-allow-left-23:before {
  content: "\e984";
}
.icon-allow-left-24:before {
  content: "\e985";
}
.icon-allow-left-25:before {
  content: "\e986";
}
.icon-allow-left-26:before {
  content: "\e987";
}
.icon-allow-left-27:before {
  content: "\e988";
}
.icon-allow-left-28:before {
  content: "\e989";
}
.icon-allow-left-29:before {
  content: "\e98a";
}
.icon-allow-left-30:before {
  content: "\e98b";
}
.icon-allow-left-31:before {
  content: "\e98d";
}
.icon-allow-left-32:before {
  content: "\e98e";
}
.icon-allow-left-33:before {
  content: "\e990";
}
.icon-allow-left-34:before {
  content: "\e991";
}
.icon-allow-left-35:before {
  content: "\e992";
}
.icon-allow-left-36:before {
  content: "\e993";
}
.icon-allow-left-37:before {
  content: "\e994";
}
.icon-allow-left-38:before {
  content: "\e995";
}
.icon-allow-left-39:before {
  content: "\e996";
}
.icon-allow-left-40:before {
  content: "\e997";
}
.icon-allow-left-41:before {
  content: "\e998";
}
.icon-allow-left-42:before {
  content: "\e999";
}
.icon-allow-left-43:before {
  content: "\e99a";
}
.icon-allow-left-44:before {
  content: "\e99b";
}
.icon-allow-left-45:before {
  content: "\e99c";
}
.icon-allow-left-46:before {
  content: "\e99d";
}
.icon-allow-left-47:before {
  content: "\e99e";
}
.icon-allow-left-48:before {
  content: "\e99f";
}
.icon-allow-left-49:before {
  content: "\e9a0";
}
.icon-allow-left-50:before {
  content: "\e9a1";
}
.icon-allow-left-51:before {
  content: "\e9a2";
}
.icon-allow-left-52:before {
  content: "\e9a3";
}
.icon-allow-left-53:before {
  content: "\e9a4";
}
.icon-allow-left-54:before {
  content: "\e9a5";
}
.icon-allow-left-55:before {
  content: "\e9a6";
}
.icon-allow-left-56:before {
  content: "\e9a7";
}
.icon-allow-left-57:before {
  content: "\e9a8";
}
.icon-allow-left-58:before {
  content: "\e9a9";
}
.icon-allow-left-59:before {
  content: "\e9aa";
}
.icon-allow-left-60:before {
  content: "\e9ab";
}
.icon-allow-left-61:before {
  content: "\e9ac";
}
.icon-allow-left-62:before {
  content: "\e9ad";
}
.icon-allow-left-63:before {
  content: "\e9ae";
}
.icon-allow-left-64:before {
  content: "\e9af";
}
.icon-allow-left-65:before {
  content: "\e9b0";
}
.icon-allow-left-66:before {
  content: "\e9b1";
}
.icon-allow-left-67:before {
  content: "\e9b2";
}
.icon-allow-left-68:before {
  content: "\e9b3";
}
.icon-allow-left-69:before {
  content: "\e9b4";
}
.icon-allow-left-70:before {
  content: "\e9b5";
}
.icon-allow-left-71:before {
  content: "\e9b6";
}
.icon-allow-left-72:before {
  content: "\e9b7";
}
.icon-allow-left-73:before {
  content: "\e9b8";
}
.icon-allow-left-74:before {
  content: "\e9b9";
}
.icon-allow-left-75:before {
  content: "\e9ba";
}
.icon-allow-left-76:before {
  content: "\e9bb";
}
.icon-allow-left-77:before {
  content: "\e9bc";
}
.icon-allow-left-78:before {
  content: "\e9bd";
}
.icon-allow-left-79:before {
  content: "\e9be";
}
.icon-allow-left-80:before {
  content: "\e9bf";
}
.icon-allow-right-01:before {
  content: "\e9c0";
}
.icon-allow-right-02:before {
  content: "\e9c1";
}
.icon-allow-right-03:before {
  content: "\e9c2";
}
.icon-allow-right-04:before {
  content: "\e9c3";
}
.icon-allow-right-05:before {
  content: "\e9c4";
}
.icon-allow-right-06:before {
  content: "\e9c5";
}
.icon-allow-right-07:before {
  content: "\e9c6";
}
.icon-allow-right-08:before {
  content: "\e9c7";
}
.icon-allow-right-09:before {
  content: "\e9c8";
}
.icon-allow-right-10:before {
  content: "\e9c9";
}
.icon-allow-right-11:before {
  content: "\e9ca";
}
.icon-allow-right-12:before {
  content: "\e9cb";
}
.icon-allow-right-13:before {
  content: "\e9cc";
}
.icon-allow-right-14:before {
  content: "\e9cd";
}
.icon-allow-right-15:before {
  content: "\e9ce";
}
.icon-allow-right-16:before {
  content: "\e9cf";
}
.icon-allow-right-17:before {
  content: "\e9d0";
}
.icon-allow-right-18:before {
  content: "\e9d1";
}
.icon-allow-right-19:before {
  content: "\e9d2";
}
.icon-allow-right-20:before {
  content: "\e9d3";
}
.icon-allow-right-21:before {
  content: "\e9d4";
}
.icon-allow-right-22:before {
  content: "\e9d5";
}
.icon-allow-right-23:before {
  content: "\e9d6";
}
.icon-allow-right-24:before {
  content: "\e9d7";
}
.icon-allow-right-25:before {
  content: "\e9d8";
}
.icon-allow-right-26:before {
  content: "\e9d9";
}
.icon-allow-right-27:before {
  content: "\e9da";
}
.icon-allow-right-28:before {
  content: "\e9db";
}
.icon-allow-right-29:before {
  content: "\e9dc";
}
.icon-allow-right-30:before {
  content: "\e9dd";
}
.icon-allow-right-31:before {
  content: "\e9de";
}
.icon-allow-right-32:before {
  content: "\e9df";
}
.icon-allow-right-33:before {
  content: "\e9e0";
}
.icon-allow-right-34:before {
  content: "\e9e1";
}
.icon-allow-right-35:before {
  content: "\e9e2";
}
.icon-allow-right-36:before {
  content: "\e9e3";
}
.icon-allow-right-37:before {
  content: "\e9e4";
}
.icon-allow-right-38:before {
  content: "\e9e5";
}
.icon-allow-right-39:before {
  content: "\e9e6";
}
.icon-allow-right-40:before {
  content: "\e9e7";
}
.icon-allow-right-41:before {
  content: "\e9e8";
}
.icon-allow-right-42:before {
  content: "\e9e9";
}
.icon-allow-right-43:before {
  content: "\e9ea";
}
.icon-allow-right-44:before {
  content: "\e9eb";
}
.icon-allow-right-45:before {
  content: "\e9ec";
}
.icon-allow-right-46:before {
  content: "\e9ed";
}
.icon-allow-right-47:before {
  content: "\e9ee";
}
.icon-allow-right-48:before {
  content: "\e9ef";
}
.icon-allow-right-49:before {
  content: "\e9f0";
}
.icon-allow-right-50:before {
  content: "\e9f1";
}
.icon-allow-right-51:before {
  content: "\e9f2";
}
.icon-allow-right-52:before {
  content: "\e9f3";
}
.icon-allow-right-53:before {
  content: "\e9f4";
}
.icon-allow-right-54:before {
  content: "\e9f5";
}
.icon-allow-right-55:before {
  content: "\e9f6";
}
.icon-allow-right-56:before {
  content: "\e9f7";
}
.icon-allow-right-57:before {
  content: "\e9f8";
}
.icon-allow-right-58:before {
  content: "\e9f9";
}
.icon-allow-right-59:before {
  content: "\e9fa";
}
.icon-allow-right-60:before {
  content: "\e9fb";
}
.icon-allow-right-61:before {
  content: "\e9fc";
}
.icon-allow-right-62:before {
  content: "\e9fd";
}
.icon-allow-right-63:before {
  content: "\e9fe";
}
.icon-allow-right-64:before {
  content: "\e9ff";
}
.icon-allow-right-65:before {
  content: "\ea00";
}
.icon-allow-right-66:before {
  content: "\ea01";
}
.icon-allow-right-67:before {
  content: "\ea02";
}
.icon-allow-right-68:before {
  content: "\ea03";
}
.icon-allow-right-69:before {
  content: "\ea04";
}
.icon-allow-right-70:before {
  content: "\ea05";
}
.icon-allow-right-71:before {
  content: "\ea06";
}
.icon-allow-right-72:before {
  content: "\ea07";
}
.icon-allow-right-73:before {
  content: "\ea08";
}
.icon-allow-right-74:before {
  content: "\ea09";
}
.icon-allow-right-75:before {
  content: "\ea0a";
}
.icon-allow-right-76:before {
  content: "\ea0b";
}
.icon-allow-right-77:before {
  content: "\ea0c";
}
.icon-allow-right-78:before {
  content: "\ea0d";
}
.icon-allow-right-79:before {
  content: "\ea0e";
}
.icon-allow-right-80:before {
  content: "\ea0f";
}
.icon-allow-up-01:before {
  content: "\ea10";
}
.icon-allow-up-02:before {
  content: "\ea11";
}
.icon-allow-up-03:before {
  content: "\ea12";
}
.icon-allow-up-04:before {
  content: "\ea13";
}
.icon-allow-up-05:before {
  content: "\ea14";
}
.icon-allow-up-06:before {
  content: "\ea15";
}
.icon-allow-up-07:before {
  content: "\ea16";
}
.icon-allow-up-08:before {
  content: "\ea17";
}
.icon-allow-up-09:before {
  content: "\ea18";
}
.icon-allow-up-10:before {
  content: "\ea19";
}
.icon-allow-up-11:before {
  content: "\ea1a";
}
.icon-allow-up-12:before {
  content: "\ea1b";
}
.icon-allow-up-13:before {
  content: "\ea1c";
}
.icon-allow-up-14:before {
  content: "\ea1d";
}
.icon-allow-up-15:before {
  content: "\ea1e";
}
.icon-allow-up-16:before {
  content: "\ea1f";
}
.icon-allow-up-17:before {
  content: "\ea20";
}
.icon-allow-up-18:before {
  content: "\ea21";
}
.icon-allow-up-19:before {
  content: "\ea22";
}
.icon-allow-up-20:before {
  content: "\ea23";
}
.icon-allow-up-21:before {
  content: "\ea24";
}
.icon-allow-up-22:before {
  content: "\ea25";
}
.icon-allow-up-23:before {
  content: "\ea26";
}
.icon-allow-up-24:before {
  content: "\ea27";
}
.icon-allow-up-25:before {
  content: "\ea28";
}
.icon-allow-up-26:before {
  content: "\ea29";
}
.icon-allow-up-27:before {
  content: "\ea2a";
}
.icon-allow-up-28:before {
  content: "\ea2b";
}
.icon-allow-up-29:before {
  content: "\ea2c";
}
.icon-allow-up-30:before {
  content: "\ea2d";
}
.icon-allow-up-31:before {
  content: "\ea2e";
}
.icon-allow-up-32:before {
  content: "\ea2f";
}
.icon-allow-up-33:before {
  content: "\ea30";
}
.icon-allow-up-34:before {
  content: "\ea31";
}
.icon-allow-up-35:before {
  content: "\ea32";
}
.icon-allow-up-36:before {
  content: "\ea33";
}
.icon-allow-up-37:before {
  content: "\ea34";
}
.icon-allow-up-38:before {
  content: "\ea35";
}
.icon-allow-up-39:before {
  content: "\ea36";
}
.icon-allow-up-40:before {
  content: "\ea37";
}
.icon-allow-up-41:before {
  content: "\ea38";
}
.icon-allow-up-42:before {
  content: "\ea39";
}
.icon-allow-up-43:before {
  content: "\ea3a";
}
.icon-allow-up-44:before {
  content: "\ea3b";
}
.icon-allow-up-45:before {
  content: "\ea3c";
}
.icon-allow-up-46:before {
  content: "\ea3d";
}
.icon-allow-up-47:before {
  content: "\ea3e";
}
.icon-allow-up-48:before {
  content: "\ea3f";
}
.icon-allow-up-49:before {
  content: "\ea40";
}
.icon-allow-up-50:before {
  content: "\ea41";
}
.icon-allow-up-51:before {
  content: "\ea42";
}
.icon-allow-up-52:before {
  content: "\ea43";
}
.icon-allow-up-53:before {
  content: "\ea44";
}
.icon-allow-up-54:before {
  content: "\ea45";
}
.icon-allow-up-55:before {
  content: "\ea46";
}
.icon-allow-up-56:before {
  content: "\ea47";
}
.icon-allow-up-57:before {
  content: "\ea48";
}
.icon-allow-up-58:before {
  content: "\ea49";
}
.icon-allow-up-59:before {
  content: "\ea4a";
}
.icon-allow-up-60:before {
  content: "\ea4b";
}
.icon-allow-up-61:before {
  content: "\ea4c";
}
.icon-allow-up-62:before {
  content: "\ea4d";
}
.icon-allow-up-63:before {
  content: "\ea4e";
}
.icon-allow-up-64:before {
  content: "\ea4f";
}
.icon-allow-up-65:before {
  content: "\ea50";
}
.icon-allow-up-66:before {
  content: "\ea51";
}
.icon-allow-up-67:before {
  content: "\ea52";
}
.icon-allow-up-68:before {
  content: "\ea53";
}
.icon-allow-up-69:before {
  content: "\ea54";
}
.icon-allow-up-70:before {
  content: "\ea55";
}
.icon-allow-up-71:before {
  content: "\ea56";
}
.icon-allow-up-72:before {
  content: "\ea57";
}
.icon-allow-up-73:before {
  content: "\ea58";
}
.icon-allow-up-74:before {
  content: "\ea59";
}
.icon-allow-up-75:before {
  content: "\ea5a";
}
.icon-allow-up-76:before {
  content: "\ea5b";
}
.icon-allow-up-77:before {
  content: "\ea5c";
}
.icon-allow-up-78:before {
  content: "\ea5d";
}
.icon-allow-up-79:before {
  content: "\ea5e";
}
.icon-allow-up-80:before {
  content: "\ea5f";
}
.icon-balloon-01:before {
  content: "\ea60";
}
.icon-balloon-02:before {
  content: "\ea61";
}
.icon-balloon-03:before {
  content: "\ea62";
}
.icon-balloon-04:before {
  content: "\ea63";
}
.icon-balloon-05:before {
  content: "\ea64";
}
.icon-balloon-06:before {
  content: "\ea65";
}
.icon-balloon-07:before {
  content: "\ea66";
}
.icon-balloon-08:before {
  content: "\ea67";
}
.icon-balloon-09:before {
  content: "\ea68";
}
.icon-balloon-10:before {
  content: "\ea69";
}
.icon-balloon-11:before {
  content: "\ea6a";
}
.icon-balloon-12:before {
  content: "\ea6b";
}
.icon-balloon-13:before {
  content: "\ea6c";
}
.icon-balloon-14:before {
  content: "\ea6d";
}
.icon-balloon-15:before {
  content: "\ea6e";
}
.icon-balloon-16:before {
  content: "\ea6f";
}
.icon-balloon-17:before {
  content: "\ea70";
}
.icon-balloon-18:before {
  content: "\ea71";
}
.icon-balloon-19:before {
  content: "\ea72";
}
.icon-balloon-20:before {
  content: "\ea73";
}
.icon-book-01:before {
  content: "\ea74";
}
.icon-book-02:before {
  content: "\ea75";
}
.icon-book-03:before {
  content: "\ea76";
}
.icon-book-04:before {
  content: "\ea77";
}
.icon-book-05:before {
  content: "\ea78";
}
.icon-book-06:before {
  content: "\ea79";
}
.icon-book-07:before {
  content: "\ea7a";
}
.icon-book-08:before {
  content: "\ea7b";
}
.icon-book-09:before {
  content: "\ea7c";
}
.icon-book-10:before {
  content: "\ea7d";
}
.icon-book-11:before {
  content: "\ea7e";
}
.icon-book-12:before {
  content: "\ea7f";
}
.icon-book-13:before {
  content: "\ea80";
}
.icon-book-14:before {
  content: "\ea81";
}
.icon-book-15:before {
  content: "\ea82";
}
.icon-book-16:before {
  content: "\ea83";
}
.icon-cart-01:before {
  content: "\ea84";
}
.icon-cart-02:before {
  content: "\ea85";
}
.icon-cart-03:before {
  content: "\ea86";
}
.icon-cart-04:before {
  content: "\ea87";
}
.icon-cart-05:before {
  content: "\ea88";
}
.icon-cart-06:before {
  content: "\ea89";
}
.icon-cart-07:before {
  content: "\ea8a";
}
.icon-cart-08:before {
  content: "\ea8b";
}
.icon-cart-09:before {
  content: "\ea8c";
}
.icon-cart-10:before {
  content: "\ea8d";
}
.icon-cart-11:before {
  content: "\ea8e";
}
.icon-cart-12:before {
  content: "\ea8f";
}
.icon-cart-13:before {
  content: "\ea90";
}
.icon-cart-14:before {
  content: "\ea91";
}
.icon-cart-15:before {
  content: "\ea92";
}
.icon-cart-16:before {
  content: "\ea93";
}
.icon-cart-17:before {
  content: "\ea94";
}
.icon-cart-18:before {
  content: "\ea95";
}
.icon-cart-19:before {
  content: "\ea96";
}
.icon-cart-20:before {
  content: "\ea97";
}
.icon-cart-21:before {
  content: "\ea98";
}
.icon-cart-22:before {
  content: "\ea99";
}
.icon-cart-23:before {
  content: "\ea9a";
}
.icon-cart-24:before {
  content: "\ea9b";
}
.icon-caution-01:before {
  content: "\ea9c";
}
.icon-caution-02:before {
  content: "\ea9d";
}
.icon-caution-03:before {
  content: "\ea9e";
}
.icon-caution-04:before {
  content: "\ea9f";
}
.icon-caution-05:before {
  content: "\eaa0";
}
.icon-caution-06:before {
  content: "\eaa1";
}
.icon-caution-07:before {
  content: "\eaa2";
}
.icon-caution-08:before {
  content: "\eaa3";
}
.icon-cd-01:before {
  content: "\eaa4";
}
.icon-cd-02:before {
  content: "\eaa5";
}
.icon-cd-03:before {
  content: "\eaa6";
}
.icon-cd-04:before {
  content: "\eaa7";
}
.icon-cd-05:before {
  content: "\eaa8";
}
.icon-cd-06:before {
  content: "\eaa9";
}
.icon-cd-07:before {
  content: "\eaaa";
}
.icon-cd-08:before {
  content: "\eaab";
}
.icon-cd-09:before {
  content: "\eaac";
}
.icon-cd-10:before {
  content: "\eaad";
}
.icon-cd-11:before {
  content: "\eaae";
}
.icon-cd-12:before {
  content: "\eaaf";
}
.icon-clip-01:before {
  content: "\eab0";
}
.icon-clip-02:before {
  content: "\eab1";
}
.icon-clip-03:before {
  content: "\eab2";
}
.icon-clip-04:before {
  content: "\eab3";
}
.icon-clip-05:before {
  content: "\eab4";
}
.icon-clip-06:before {
  content: "\eab5";
}
.icon-clip-07:before {
  content: "\eab6";
}
.icon-clip-08:before {
  content: "\eab7";
}
.icon-configuration-01:before {
  content: "\eab8";
}
.icon-configuration-02:before {
  content: "\eab9";
}
.icon-configuration-03:before {
  content: "\eaba";
}
.icon-configuration-04:before {
  content: "\eabb";
}
.icon-configuration-05:before {
  content: "\eabc";
}
.icon-configuration-06:before {
  content: "\eabd";
}
.icon-configuration-07:before {
  content: "\eabe";
}
.icon-configuration-08:before {
  content: "\eabf";
}
.icon-configuration-09:before {
  content: "\eac0";
}
.icon-configuration-10:before {
  content: "\eac1";
}
.icon-configuration-11:before {
  content: "\eac2";
}
.icon-configuration-12:before {
  content: "\eac3";
}
.icon-configuration-13:before {
  content: "\eac4";
}
.icon-configuration-14:before {
  content: "\eac5";
}
.icon-configuration-15:before {
  content: "\eac6";
}
.icon-configuration-16:before {
  content: "\eac7";
}
.icon-configuration-17:before {
  content: "\eac8";
}
.icon-configuration-18:before {
  content: "\eac9";
}
.icon-configuration-19:before {
  content: "\eaca";
}
.icon-configuration-20:before {
  content: "\eacb";
}
.icon-configuration-21:before {
  content: "\eacc";
}
.icon-configuration-22:before {
  content: "\eacd";
}
.icon-configuration-23:before {
  content: "\eace";
}
.icon-configuration-24:before {
  content: "\eacf";
}
.icon-configuration-25:before {
  content: "\ead0";
}
.icon-configuration-26:before {
  content: "\ead1";
}
.icon-configuration-27:before {
  content: "\ead2";
}
.icon-configuration-28:before {
  content: "\ead3";
}
.icon-configuration-29:before {
  content: "\ead4";
}
.icon-configuration-30:before {
  content: "\ead5";
}
.icon-crown-01:before {
  content: "\ead6";
}
.icon-crown-02:before {
  content: "\ead7";
}
.icon-crown-03:before {
  content: "\ead8";
}
.icon-crown-04:before {
  content: "\ead9";
}
.icon-crown-05:before {
  content: "\eada";
}
.icon-crown-06:before {
  content: "\eadb";
}
.icon-crown-07:before {
  content: "\eadc";
}
.icon-crown-08:before {
  content: "\eadd";
}
.icon-crown-09:before {
  content: "\eade";
}
.icon-crown-10:before {
  content: "\eadf";
}
.icon-crown-11:before {
  content: "\eae0";
}
.icon-crown-12:before {
  content: "\eae1";
}
.icon-crown-13:before {
  content: "\eae2";
}
.icon-crown-14:before {
  content: "\eae3";
}
.icon-crown-15:before {
  content: "\eae4";
}
.icon-document-01:before {
  content: "\eae5";
}
.icon-document-02:before {
  content: "\eae6";
}
.icon-document-03:before {
  content: "\eae7";
}
.icon-document-04:before {
  content: "\eae8";
}
.icon-document-05:before {
  content: "\eae9";
}
.icon-document-06:before {
  content: "\eaea";
}
.icon-document-07:before {
  content: "\eaeb";
}
.icon-document-08:before {
  content: "\eaec";
}
.icon-document-09:before {
  content: "\eaed";
}
.icon-document-10:before {
  content: "\eaee";
}
.icon-document-11:before {
  content: "\eaef";
}
.icon-document-12:before {
  content: "\eaf0";
}
.icon-document-13:before {
  content: "\eaf1";
}
.icon-document-14:before {
  content: "\eaf2";
}
.icon-document-15:before {
  content: "\eaf3";
}
.icon-document-16:before {
  content: "\eaf4";
}
.icon-document-17:before {
  content: "\eaf5";
}
.icon-document-18:before {
  content: "\eaf6";
}
.icon-document-19:before {
  content: "\eaf7";
}
.icon-document-20:before {
  content: "\eaf8";
}
.icon-download-01:before {
  content: "\eaf9";
}
.icon-download-02:before {
  content: "\eafa";
}
.icon-download-03:before {
  content: "\eafb";
}
.icon-download-04:before {
  content: "\eafc";
}
.icon-download-05:before {
  content: "\eafd";
}
.icon-download-06:before {
  content: "\eafe";
}
.icon-download-07:before {
  content: "\eaff";
}
.icon-download-08:before {
  content: "\eb00";
}
.icon-download-09:before {
  content: "\eb01";
}
.icon-download-10:before {
  content: "\eb02";
}
.icon-download-11:before {
  content: "\eb03";
}
.icon-download-12:before {
  content: "\eb04";
}
.icon-download-13:before {
  content: "\eb05";
}
.icon-download-14:before {
  content: "\eb06";
}
.icon-download-15:before {
  content: "\eb07";
}
.icon-download-16:before {
  content: "\eb08";
}
.icon-download-17:before {
  content: "\eb09";
}
.icon-download-18:before {
  content: "\eb0a";
}
.icon-download-19:before {
  content: "\eb0b";
}
.icon-download-20:before {
  content: "\eb0c";
}
.icon-download-21:before {
  content: "\eb0d";
}
.icon-download-22:before {
  content: "\eb0e";
}
.icon-download-23:before {
  content: "\eb0f";
}
.icon-download-24:before {
  content: "\eb10";
}
.icon-download-25:before {
  content: "\eb11";
}
.icon-download-26:before {
  content: "\eb12";
}
.icon-download-27:before {
  content: "\eb13";
}
.icon-download-28:before {
  content: "\eb14";
}
.icon-download-29:before {
  content: "\eb15";
}
.icon-download-30:before {
  content: "\eb16";
}
.icon-download-31:before {
  content: "\eb17";
}
.icon-download-32:before {
  content: "\eb18";
}
.icon-download-33:before {
  content: "\eb19";
}
.icon-download-34:before {
  content: "\eb1a";
}
.icon-download-35:before {
  content: "\eb1b";
}
.icon-earth-01:before {
  content: "\eb1c";
}
.icon-earth-02:before {
  content: "\eb1d";
}
.icon-earth-03:before {
  content: "\eb1e";
}
.icon-earth-04:before {
  content: "\eb1f";
}
.icon-earth-05:before {
  content: "\eb20";
}
.icon-earth-06:before {
  content: "\eb21";
}
.icon-earth-07:before {
  content: "\eb22";
}
.icon-earth-08:before {
  content: "\eb23";
}
.icon-earth-09:before {
  content: "\eb24";
}
.icon-earth-10:before {
  content: "\eb25";
}
.icon-earth-11:before {
  content: "\eb26";
}
.icon-earth-12:before {
  content: "\eb27";
}
.icon-earth-13:before {
  content: "\eb28";
}
.icon-earth-14:before {
  content: "\eb29";
}
.icon-earth-15:before {
  content: "\eb2a";
}
.icon-earth-16:before {
  content: "\eb2b";
}
.icon-earth-17:before {
  content: "\eb2c";
}
.icon-earth-18:before {
  content: "\eb2d";
}
.icon-earth-19:before {
  content: "\eb2e";
}
.icon-earth-20:before {
  content: "\eb2f";
}
.icon-external-link-01:before {
  content: "\eb30";
}
.icon-external-link-02:before {
  content: "\eb31";
}
.icon-external-link-03:before {
  content: "\eb32";
}
.icon-external-link-04:before {
  content: "\eb33";
}
.icon-external-link-05:before {
  content: "\eb34";
}
.icon-external-link-06:before {
  content: "\eb35";
}
.icon-external-link-07:before {
  content: "\eb36";
}
.icon-external-link-08:before {
  content: "\eb37";
}
.icon-external-link-09:before {
  content: "\eb38";
}
.icon-external-link-10:before {
  content: "\eb39";
}
.icon-external-link-11:before {
  content: "\eb3a";
}
.icon-external-link-12:before {
  content: "\eb3b";
}
.icon-external-link-13:before {
  content: "\eb3c";
}
.icon-external-link-14:before {
  content: "\eb3d";
}
.icon-external-link-15:before {
  content: "\eb3e";
}
.icon-external-link-16:before {
  content: "\eb3f";
}
.icon-external-link-17:before {
  content: "\eb40";
}
.icon-external-link-18:before {
  content: "\eb41";
}
.icon-external-link-19:before {
  content: "\eb42";
}
.icon-external-link-20:before {
  content: "\eb43";
}
.icon-fax-01:before {
  content: "\eb44";
}
.icon-fax-02:before {
  content: "\eb45";
}
.icon-fax-03:before {
  content: "\eb46";
}
.icon-fax-04:before {
  content: "\eb47";
}
.icon-fax-05:before {
  content: "\eb48";
}
.icon-fax-06:before {
  content: "\eb49";
}
.icon-fax-07:before {
  content: "\eb4a";
}
.icon-fax-08:before {
  content: "\eb4b";
}
.icon-fax-09:before {
  content: "\eb4c";
}
.icon-fax-10:before {
  content: "\eb4d";
}
.icon-fax-11:before {
  content: "\eb4e";
}
.icon-fax-12:before {
  content: "\eb4f";
}
.icon-fax-13:before {
  content: "\eb50";
}
.icon-fax-14:before {
  content: "\eb51";
}
.icon-fax-15:before {
  content: "\eb52";
}
.icon-fax-16:before {
  content: "\eb53";
}
.icon-fax-17:before {
  content: "\eb54";
}
.icon-folder-01:before {
  content: "\eb55";
}
.icon-folder-02:before {
  content: "\eb56";
}
.icon-folder-03:before {
  content: "\eb57";
}
.icon-folder-04:before {
  content: "\eb58";
}
.icon-folder-05:before {
  content: "\eb59";
}
.icon-folder-06:before {
  content: "\eb5a";
}
.icon-folder-07:before {
  content: "\eb5b";
}
.icon-folder-08:before {
  content: "\eb5c";
}
.icon-folder-09:before {
  content: "\eb5d";
}
.icon-folder-10:before {
  content: "\eb5e";
}
.icon-folder-11:before {
  content: "\eb5f";
}
.icon-folder-12:before {
  content: "\eb60";
}
.icon-folder-13:before {
  content: "\eb61";
}
.icon-folder-14:before {
  content: "\eb62";
}
.icon-folder-15:before {
  content: "\eb63";
}
.icon-folder-16:before {
  content: "\eb64";
}
.icon-folder-17:before {
  content: "\eb65";
}
.icon-folder-18:before {
  content: "\eb66";
}
.icon-folder-19:before {
  content: "\eb67";
}
.icon-folder-20:before {
  content: "\eb68";
}
.icon-heart-01:before {
  content: "\eb69";
}
.icon-heart-02:before {
  content: "\eb6a";
}
.icon-heart-03:before {
  content: "\eb6b";
}
.icon-heart-04:before {
  content: "\eb6c";
}
.icon-heart-05:before {
  content: "\eb6d";
}
.icon-heart-06:before {
  content: "\eb6e";
}
.icon-heart-07:before {
  content: "\eb6f";
}
.icon-heart-08:before {
  content: "\eb70";
}
.icon-heart-09:before {
  content: "\eb71";
}
.icon-heart-10:before {
  content: "\eb72";
}
.icon-heart-11:before {
  content: "\eb73";
}
.icon-heart-12:before {
  content: "\eb74";
}
.icon-heart-13:before {
  content: "\eb75";
}
.icon-heart-14:before {
  content: "\eb76";
}
.icon-heart-15:before {
  content: "\eb77";
}
.icon-home-01:before {
  content: "\eb78";
}
.icon-home-02:before {
  content: "\eb79";
}
.icon-home-03:before {
  content: "\eb7a";
}
.icon-home-04:before {
  content: "\eb7b";
}
.icon-home-05:before {
  content: "\eb7c";
}
.icon-home-06:before {
  content: "\eb7d";
}
.icon-home-07:before {
  content: "\eb7e";
}
.icon-home-08:before {
  content: "\eb7f";
}
.icon-home-09:before {
  content: "\eb80";
}
.icon-home-10:before {
  content: "\eb81";
}
.icon-home-11:before {
  content: "\eb82";
}
.icon-home-12:before {
  content: "\eb83";
}
.icon-home-13:before {
  content: "\eb84";
}
.icon-home-14:before {
  content: "\eb85";
}
.icon-home-15:before {
  content: "\eb86";
}
.icon-home-16:before {
  content: "\eb87";
}
.icon-home-17:before {
  content: "\eb88";
}
.icon-home-18:before {
  content: "\eb89";
}
.icon-home-19:before {
  content: "\eb8a";
}
.icon-home-20:before {
  content: "\eb8b";
}
.icon-light-01:before {
  content: "\eb8c";
}
.icon-light-02:before {
  content: "\eb8d";
}
.icon-light-03:before {
  content: "\eb8e";
}
.icon-light-04:before {
  content: "\eb8f";
}
.icon-light-05:before {
  content: "\eb90";
}
.icon-light-06:before {
  content: "\eb91";
}
.icon-light-07:before {
  content: "\eb92";
}
.icon-light-08:before {
  content: "\eb93";
}
.icon-light-09:before {
  content: "\eb94";
}
.icon-light-10:before {
  content: "\eb95";
}
.icon-light-11:before {
  content: "\eb96";
}
.icon-light-12:before {
  content: "\eb97";
}
.icon-link-01:before {
  content: "\eb98";
}
.icon-link-02:before {
  content: "\eb99";
}
.icon-link-03:before {
  content: "\eb9a";
}
.icon-link-04:before {
  content: "\eb9b";
}
.icon-link-05:before {
  content: "\eb9c";
}
.icon-link-06:before {
  content: "\eb9d";
}
.icon-link-07:before {
  content: "\eb9e";
}
.icon-link-08:before {
  content: "\eb9f";
}
.icon-link-09:before {
  content: "\eba0";
}
.icon-link-10:before {
  content: "\eba1";
}
.icon-link-11:before {
  content: "\eba2";
}
.icon-link-12:before {
  content: "\eba3";
}
.icon-link-13:before {
  content: "\eba4";
}
.icon-link-14:before {
  content: "\eba5";
}
.icon-link-15:before {
  content: "\eba6";
}
.icon-list-01:before {
  content: "\eba7";
}
.icon-list-02:before {
  content: "\eba8";
}
.icon-list-03:before {
  content: "\eba9";
}
.icon-list-04:before {
  content: "\ebaa";
}
.icon-list-05:before {
  content: "\ebab";
}
.icon-list-06:before {
  content: "\ebac";
}
.icon-list-07:before {
  content: "\ebad";
}
.icon-list-08:before {
  content: "\ebae";
}
.icon-login-human-01:before {
  content: "\ebaf";
}
.icon-login-human-02:before {
  content: "\ebb0";
}
.icon-login-human-03:before {
  content: "\ebb1";
}
.icon-login-human-04:before {
  content: "\ebb2";
}
.icon-login-human-05:before {
  content: "\ebb3";
}
.icon-login-human-06:before {
  content: "\ebb4";
}
.icon-login-human-07:before {
  content: "\ebb5";
}
.icon-login-human-08:before {
  content: "\ebb6";
}
.icon-login-human-09:before {
  content: "\ebb7";
}
.icon-login-human-10:before {
  content: "\ebb8";
}
.icon-login-human-11:before {
  content: "\ebb9";
}
.icon-login-human-12:before {
  content: "\ebba";
}
.icon-login-human-13:before {
  content: "\ebbb";
}
.icon-login-human-14:before {
  content: "\ebbc";
}
.icon-login-human-15:before {
  content: "\ebbd";
}
.icon-login-human-16:before {
  content: "\ebbe";
}
.icon-login-human-17:before {
  content: "\ebbf";
}
.icon-login-human-18:before {
  content: "\ebc0";
}
.icon-login-human-19:before {
  content: "\ebc1";
}
.icon-login-human-20:before {
  content: "\ebc2";
}
.icon-login-key-01:before {
  content: "\ebc3";
}
.icon-login-key-02:before {
  content: "\ebc4";
}
.icon-login-key-03:before {
  content: "\ebc5";
}
.icon-login-key-04:before {
  content: "\ebc6";
}
.icon-login-key-05:before {
  content: "\ebc7";
}
.icon-login-key-06:before {
  content: "\ebc8";
}
.icon-login-key-07:before {
  content: "\ebc9";
}
.icon-login-key-08:before {
  content: "\ebca";
}
.icon-login-key-09:before {
  content: "\ebcb";
}
.icon-login-key-10:before {
  content: "\ebcc";
}
.icon-login-key-11:before {
  content: "\ebcd";
}
.icon-login-key-12:before {
  content: "\ebce";
}
.icon-login-key-13:before {
  content: "\ebcf";
}
.icon-login-key-14:before {
  content: "\ebd0";
}
.icon-login-key-15:before {
  content: "\ebd1";
}
.icon-login-key-16:before {
  content: "\ebd2";
}
.icon-login-key-17:before {
  content: "\ebd3";
}
.icon-login-key-18:before {
  content: "\ebd4";
}
.icon-login-key-19:before {
  content: "\ebd5";
}
.icon-login-key-20:before {
  content: "\ebd6";
}
.icon-logout-01:before {
  content: "\ebd7";
}
.icon-logout-02:before {
  content: "\ebd8";
}
.icon-logout-03:before {
  content: "\ebd9";
}
.icon-logout-04:before {
  content: "\ebda";
}
.icon-logout-05:before {
  content: "\ebdb";
}
.icon-logout-06:before {
  content: "\ebdc";
}
.icon-logout-07:before {
  content: "\ebdd";
}
.icon-logout-08:before {
  content: "\ebde";
}
.icon-logout-09:before {
  content: "\ebdf";
}
.icon-logout-10:before {
  content: "\ebe0";
}
.icon-logout-11:before {
  content: "\ebe1";
}
.icon-logout-12:before {
  content: "\ebe2";
}
.icon-logout-13:before {
  content: "\ebe3";
}
.icon-logout-14:before {
  content: "\ebe4";
}
.icon-logout-15:before {
  content: "\ebe5";
}
.icon-logout-16:before {
  content: "\ebe6";
}
.icon-logout-17:before {
  content: "\ebe7";
}
.icon-logout-18:before {
  content: "\ebe8";
}
.icon-logout-19:before {
  content: "\ebe9";
}
.icon-logout-20:before {
  content: "\ebea";
}
.icon-mail-01:before {
  content: "\ebeb";
}
.icon-mail-02:before {
  content: "\ebec";
}
.icon-mail-03:before {
  content: "\ebed";
}
.icon-mail-04:before {
  content: "\ebee";
}
.icon-mail-05:before {
  content: "\ebef";
}
.icon-mail-06:before {
  content: "\ebf0";
}
.icon-mail-07:before {
  content: "\ebf1";
}
.icon-mail-08:before {
  content: "\ebf2";
}
.icon-mail-09:before {
  content: "\ebf3";
}
.icon-mail-10:before {
  content: "\ebf4";
}
.icon-mail-11:before {
  content: "\ebf5";
}
.icon-mail-12:before {
  content: "\ebf6";
}
.icon-mail-13:before {
  content: "\ebf7";
}
.icon-mail-14:before {
  content: "\ebf8";
}
.icon-mail-15:before {
  content: "\ebf9";
}
.icon-mail-16:before {
  content: "\ebfa";
}
.icon-menu-01:before {
  content: "\ebfb";
}
.icon-menu-02:before {
  content: "\ebfc";
}
.icon-menu-03:before {
  content: "\ebfd";
}
.icon-menu-04:before {
  content: "\ebfe";
}
.icon-menu-05:before {
  content: "\ebff";
}
.icon-menu-06:before {
  content: "\ec00";
}
.icon-menu-07:before {
  content: "\ec01";
}
.icon-menu-08:before {
  content: "\ec02";
}
.icon-minus-01:before {
  content: "\ec03";
}
.icon-minus-02:before {
  content: "\ec04";
}
.icon-minus-03:before {
  content: "\ec05";
}
.icon-minus-04:before {
  content: "\ec06";
}
.icon-minus-05:before {
  content: "\ec07";
}
.icon-minus-06:before {
  content: "\ec08";
}
.icon-minus-07:before {
  content: "\ec09";
}
.icon-minus-08:before {
  content: "\ec0a";
}
.icon-minus-09:before {
  content: "\ec0b";
}
.icon-minus-10:before {
  content: "\ec0c";
}
.icon-minus-11:before {
  content: "\ec0d";
}
.icon-minus-12:before {
  content: "\ec0e";
}
.icon-minus-13:before {
  content: "\ec0f";
}
.icon-minus-14:before {
  content: "\ec10";
}
.icon-minus-15:before {
  content: "\ec11";
}
.icon-minus-16:before {
  content: "\ec12";
}
.icon-minus-17:before {
  content: "\ec13";
}
.icon-minus-18:before {
  content: "\ec14";
}
.icon-minus-19:before {
  content: "\ec15";
}
.icon-minus-20:before {
  content: "\ec16";
}
.icon-minus-21:before {
  content: "\ec17";
}
.icon-minus-22:before {
  content: "\ec18";
}
.icon-minus-23:before {
  content: "\ec19";
}
.icon-minus-24:before {
  content: "\ec1a";
}
.icon-minus-25:before {
  content: "\ec1b";
}
.icon-minus-26:before {
  content: "\ec1c";
}
.icon-minus-27:before {
  content: "\ec1d";
}
.icon-minus-28:before {
  content: "\ec1e";
}
.icon-minus-29:before {
  content: "\ec1f";
}
.icon-minus-30:before {
  content: "\ec20";
}
.icon-minus-31:before {
  content: "\ec21";
}
.icon-minus-32:before {
  content: "\ec22";
}
.icon-minus-33:before {
  content: "\ec23";
}
.icon-minus-34:before {
  content: "\ec24";
}
.icon-minus-35:before {
  content: "\ec25";
}
.icon-minus-36:before {
  content: "\ec26";
}
.icon-minus-37:before {
  content: "\ec27";
}
.icon-minus-38:before {
  content: "\ec28";
}
.icon-minus-39:before {
  content: "\ec29";
}
.icon-minus-40:before {
  content: "\ec2a";
}
.icon-mouse-pointer-01:before {
  content: "\ec2b";
}
.icon-mouse-pointer-02:before {
  content: "\ec2c";
}
.icon-mouse-pointer-03:before {
  content: "\ec2d";
}
.icon-mouse-pointer-04:before {
  content: "\ec2e";
}
.icon-mouse-pointer-05:before {
  content: "\ec2f";
}
.icon-mouse-pointer-06:before {
  content: "\ec30";
}
.icon-mouse-scroll-01:before {
  content: "\ec31";
}
.icon-mouse-scroll-02:before {
  content: "\ec32";
}
.icon-mouse-scroll-03:before {
  content: "\ec33";
}
.icon-mouse-scroll-04:before {
  content: "\ec34";
}
.icon-mouse-scroll-05:before {
  content: "\ec35";
}
.icon-mouse-scroll-06:before {
  content: "\ec36";
}
.icon-mouse-scroll-07:before {
  content: "\ec37";
}
.icon-mouse-scroll-08:before {
  content: "\ec38";
}
.icon-mouse-scroll-09:before {
  content: "\ec39";
}
.icon-mouse-scroll-10:before {
  content: "\ec3a";
}
.icon-mouse-scroll-11:before {
  content: "\ec3b";
}
.icon-mouse-scroll-12:before {
  content: "\ec3c";
}
.icon-mouse-scroll-13:before {
  content: "\ec3d";
}
.icon-mouse-scroll-14:before {
  content: "\ec3e";
}
.icon-mouse-scroll-15:before {
  content: "\ec3f";
}
.icon-movie-01:before {
  content: "\ec40";
}
.icon-movie-02:before {
  content: "\ec41";
}
.icon-movie-03:before {
  content: "\ec42";
}
.icon-movie-04:before {
  content: "\ec43";
}
.icon-movie-05:before {
  content: "\ec44";
}
.icon-movie-06:before {
  content: "\ec45";
}
.icon-note-01:before {
  content: "\ec46";
}
.icon-note-02:before {
  content: "\ec47";
}
.icon-note-03:before {
  content: "\ec48";
}
.icon-note-04:before {
  content: "\ec49";
}
.icon-note-05:before {
  content: "\ec4a";
}
.icon-note-06:before {
  content: "\ec4b";
}
.icon-note-07:before {
  content: "\ec4c";
}
.icon-note-08:before {
  content: "\ec4d";
}
.icon-note-09:before {
  content: "\ec4e";
}
.icon-note-10:before {
  content: "\ec4f";
}
.icon-note-11:before {
  content: "\ec50";
}
.icon-note-12:before {
  content: "\ec51";
}
.icon-note-13:before {
  content: "\ec52";
}
.icon-note-14:before {
  content: "\ec53";
}
.icon-note-15:before {
  content: "\ec54";
}
.icon-note-16:before {
  content: "\ec55";
}
.icon-pc-01:before {
  content: "\ec56";
}
.icon-pc-02:before {
  content: "\ec57";
}
.icon-pc-03:before {
  content: "\ec58";
}
.icon-pc-04:before {
  content: "\ec59";
}
.icon-pc-05:before {
  content: "\ec5a";
}
.icon-pc-06:before {
  content: "\ec5b";
}
.icon-pc-07:before {
  content: "\ec5c";
}
.icon-pc-08:before {
  content: "\ec5d";
}
.icon-pc-09:before {
  content: "\ec5e";
}
.icon-pc-10:before {
  content: "\ec5f";
}
.icon-pc-11:before {
  content: "\ec60";
}
.icon-pc-12:before {
  content: "\ec61";
}
.icon-pc-13:before {
  content: "\ec62";
}
.icon-pc-14:before {
  content: "\ec63";
}
.icon-pc-15:before {
  content: "\ec64";
}
.icon-pc-16:before {
  content: "\ec65";
}
.icon-pc-17:before {
  content: "\ec66";
}
.icon-pc-18:before {
  content: "\ec67";
}
.icon-pc-19:before {
  content: "\ec68";
}
.icon-pc-20:before {
  content: "\ec69";
}
.icon-pc-21:before {
  content: "\ec6a";
}
.icon-pc-22:before {
  content: "\ec6b";
}
.icon-pc-23:before {
  content: "\ec6c";
}
.icon-pc-24:before {
  content: "\ec6d";
}
.icon-pc-25:before {
  content: "\ec6e";
}
.icon-pc-26:before {
  content: "\ec6f";
}
.icon-pc-27:before {
  content: "\ec70";
}
.icon-pc-28:before {
  content: "\ec71";
}
.icon-pc-29:before {
  content: "\ec72";
}
.icon-pc-30:before {
  content: "\ec73";
}
.icon-pdf-01:before {
  content: "\ec74";
}
.icon-pdf-02:before {
  content: "\ec75";
}
.icon-pdf-03:before {
  content: "\ec76";
}
.icon-pdf-04:before {
  content: "\ec77";
}
.icon-pdf-05:before {
  content: "\ec78";
}
.icon-pdf-06:before {
  content: "\ec79";
}
.icon-pdf-07:before {
  content: "\ec7a";
}
.icon-pdf-08:before {
  content: "\ec7b";
}
.icon-pdf-09:before {
  content: "\ec7c";
}
.icon-pdf-10:before {
  content: "\ec7d";
}
.icon-pencil-01:before {
  content: "\ec7e";
}
.icon-pencil-02:before {
  content: "\ec7f";
}
.icon-pencil-03:before {
  content: "\ec80";
}
.icon-pencil-04:before {
  content: "\ec81";
}
.icon-pencil-05:before {
  content: "\ec82";
}
.icon-pencil-06:before {
  content: "\ec83";
}
.icon-pencil-07:before {
  content: "\ec84";
}
.icon-pencil-08:before {
  content: "\ec85";
}
.icon-pencil-09:before {
  content: "\ec86";
}
.icon-pencil-10:before {
  content: "\ec87";
}
.icon-pencil-11:before {
  content: "\ec88";
}
.icon-pencil-12:before {
  content: "\ec89";
}
.icon-pencil-13:before {
  content: "\ec8a";
}
.icon-pencil-14:before {
  content: "\ec8b";
}
.icon-pencil-15:before {
  content: "\ec8c";
}
.icon-pencil-16:before {
  content: "\ec8d";
}
.icon-pencil-17:before {
  content: "\ec8e";
}
.icon-pencil-18:before {
  content: "\ec8f";
}
.icon-pencil-19:before {
  content: "\ec90";
}
.icon-phone-01:before {
  content: "\ec91";
}
.icon-phone-02:before {
  content: "\ec92";
}
.icon-phone-03:before {
  content: "\ec93";
}
.icon-phone-04:before {
  content: "\ec94";
}
.icon-phone-05:before {
  content: "\ec95";
}
.icon-phone-06:before {
  content: "\ec96";
}
.icon-phone-07:before {
  content: "\ec97";
}
.icon-phone-08:before {
  content: "\ec98";
}
.icon-phone-09:before {
  content: "\ec99";
}
.icon-phone-10:before {
  content: "\ec9a";
}
.icon-photo-01:before {
  content: "\ec9b";
}
.icon-photo-02:before {
  content: "\ec9c";
}
.icon-photo-03:before {
  content: "\ec9d";
}
.icon-photo-04:before {
  content: "\ec9e";
}
.icon-photo-05:before {
  content: "\ec9f";
}
.icon-photo-06:before {
  content: "\eca0";
}
.icon-photo-07:before {
  content: "\eca1";
}
.icon-photo-08:before {
  content: "\eca2";
}
.icon-photo-09:before {
  content: "\eca3";
}
.icon-photo-10:before {
  content: "\eca4";
}
.icon-photo-11:before {
  content: "\eca5";
}
.icon-photo-12:before {
  content: "\eca6";
}
.icon-photo-13:before {
  content: "\eca7";
}
.icon-photo-14:before {
  content: "\eca8";
}
.icon-photo-15:before {
  content: "\eca9";
}
.icon-photo-16:before {
  content: "\ecaa";
}
.icon-photo-17:before {
  content: "\ecab";
}
.icon-photo-18:before {
  content: "\ecac";
}
.icon-photo-19:before {
  content: "\ecad";
}
.icon-photo-20:before {
  content: "\ecae";
}
.icon-plus-01:before {
  content: "\ecaf";
}
.icon-plus-02:before {
  content: "\ecb0";
}
.icon-plus-03:before {
  content: "\ecb1";
}
.icon-plus-04:before {
  content: "\ecb2";
}
.icon-plus-05:before {
  content: "\ecb3";
}
.icon-plus-06:before {
  content: "\ecb4";
}
.icon-plus-07:before {
  content: "\ecb5";
}
.icon-plus-08:before {
  content: "\ecb6";
}
.icon-plus-09:before {
  content: "\ecb7";
}
.icon-plus-10:before {
  content: "\ecb8";
}
.icon-plus-11:before {
  content: "\ecb9";
}
.icon-plus-12:before {
  content: "\ecba";
}
.icon-plus-13:before {
  content: "\ecbb";
}
.icon-plus-14:before {
  content: "\ecbc";
}
.icon-plus-15:before {
  content: "\ecbd";
}
.icon-plus-16:before {
  content: "\ecbe";
}
.icon-plus-17:before {
  content: "\ecbf";
}
.icon-plus-18:before {
  content: "\ecc0";
}
.icon-plus-19:before {
  content: "\ecc1";
}
.icon-plus-20:before {
  content: "\ecc2";
}
.icon-plus-21:before {
  content: "\ecc3";
}
.icon-plus-22:before {
  content: "\ecc4";
}
.icon-plus-23:before {
  content: "\ecc5";
}
.icon-plus-24:before {
  content: "\ecc6";
}
.icon-plus-25:before {
  content: "\ecc7";
}
.icon-plus-26:before {
  content: "\ecc8";
}
.icon-plus-27:before {
  content: "\ecc9";
}
.icon-plus-28:before {
  content: "\ecca";
}
.icon-plus-29:before {
  content: "\eccb";
}
.icon-plus-30:before {
  content: "\eccc";
}
.icon-plus-31:before {
  content: "\eccd";
}
.icon-plus-32:before {
  content: "\ecce";
}
.icon-plus-33:before {
  content: "\eccf";
}
.icon-plus-34:before {
  content: "\ecd0";
}
.icon-plus-35:before {
  content: "\ecd1";
}
.icon-plus-36:before {
  content: "\ecd2";
}
.icon-plus-37:before {
  content: "\ecd3";
}
.icon-plus-38:before {
  content: "\ecd4";
}
.icon-plus-39:before {
  content: "\ecd5";
}
.icon-plus-40:before {
  content: "\ecd6";
}
.icon-search-01:before {
  content: "\ecd7";
}
.icon-search-02:before {
  content: "\ecd8";
}
.icon-search-03:before {
  content: "\ecd9";
}
.icon-search-04:before {
  content: "\ecda";
}
.icon-search-05:before {
  content: "\ecdb";
}
.icon-search-06:before {
  content: "\ecdc";
}
.icon-search-07:before {
  content: "\ecdd";
}
.icon-search-08:before {
  content: "\ecde";
}
.icon-search-09:before {
  content: "\ecdf";
}
.icon-search-10:before {
  content: "\ece0";
}
.icon-search-11:before {
  content: "\ece1";
}
.icon-search-12:before {
  content: "\ece2";
}
.icon-search-13:before {
  content: "\ece3";
}
.icon-search-14:before {
  content: "\ece4";
}
.icon-search-15:before {
  content: "\ece5";
}
.icon-search-16:before {
  content: "\ece6";
}
.icon-sp-01:before {
  content: "\ece7";
}
.icon-sp-02:before {
  content: "\ece8";
}
.icon-sp-03:before {
  content: "\ece9";
}
.icon-sp-04:before {
  content: "\ecea";
}
.icon-sp-05:before {
  content: "\eceb";
}
.icon-sp-06:before {
  content: "\ecec";
}
.icon-sp-07:before {
  content: "\eced";
}
.icon-sp-08:before {
  content: "\ecee";
}
.icon-sp-09:before {
  content: "\ecef";
}
.icon-sp-10:before {
  content: "\ecf0";
}
.icon-sp-11:before {
  content: "\ecf1";
}
.icon-sp-12:before {
  content: "\ecf2";
}
.icon-sp-13:before {
  content: "\ecf3";
}
.icon-sp-14:before {
  content: "\ecf4";
}
.icon-sp-15:before {
  content: "\ecf5";
}
.icon-sp-16:before {
  content: "\ecf6";
}
.icon-sp-17:before {
  content: "\ecf7";
}
.icon-sp-18:before {
  content: "\ecf8";
}
.icon-sp-19:before {
  content: "\ecf9";
}
.icon-sp-20:before {
  content: "\ecfa";
}
.icon-star-01:before {
  content: "\ecfb";
}
.icon-star-02:before {
  content: "\ecfc";
}
.icon-star-03:before {
  content: "\ecfd";
}
.icon-star-04:before {
  content: "\ecfe";
}
.icon-star-05:before {
  content: "\ecff";
}
.icon-star-06:before {
  content: "\ed00";
}
.icon-star-07:before {
  content: "\ed01";
}
.icon-star-08:before {
  content: "\ed02";
}
.icon-star-09:before {
  content: "\ed03";
}
.icon-star-10:before {
  content: "\ed04";
}
.icon-star-11:before {
  content: "\ed05";
}
.icon-star-12:before {
  content: "\ed06";
}
.icon-star-13:before {
  content: "\ed07";
}
.icon-star-14:before {
  content: "\ed08";
}
.icon-star-15:before {
  content: "\ed09";
}
.icon-update-01:before {
  content: "\ed0a";
}
.icon-update-02:before {
  content: "\ed0b";
}
.icon-update-03:before {
  content: "\ed0c";
}
.icon-update-04:before {
  content: "\ed0d";
}
.icon-update-05:before {
  content: "\ed0e";
}
.icon-update-06:before {
  content: "\ed0f";
}
.icon-update-07:before {
  content: "\ed10";
}
.icon-update-08:before {
  content: "\ed11";
}
.icon-upload-01:before {
  content: "\ed12";
}
.icon-upload-02:before {
  content: "\ed13";
}
.icon-upload-03:before {
  content: "\ed14";
}
.icon-upload-04:before {
  content: "\ed15";
}
.icon-upload-05:before {
  content: "\ed16";
}
.icon-upload-06:before {
  content: "\ed17";
}
.icon-upload-07:before {
  content: "\ed18";
}
.icon-upload-08:before {
  content: "\ed19";
}
.icon-upload-09:before {
  content: "\ed1a";
}
.icon-upload-10:before {
  content: "\ed1b";
}
.icon-upload-11:before {
  content: "\ed1c";
}
.icon-upload-12:before {
  content: "\ed1d";
}
.icon-upload-13:before {
  content: "\ed1e";
}
.icon-upload-14:before {
  content: "\ed1f";
}
.icon-upload-15:before {
  content: "\ed20";
}
.icon-upload-16:before {
  content: "\ed21";
}
.icon-upload-17:before {
  content: "\ed22";
}
.icon-upload-18:before {
  content: "\ed23";
}
.icon-upload-19:before {
  content: "\ed24";
}
.icon-upload-20:before {
  content: "\ed25";
}
.icon-upload-21:before {
  content: "\ed26";
}
.icon-upload-22:before {
  content: "\ed27";
}
.icon-upload-23:before {
  content: "\ed28";
}
.icon-upload-24:before {
  content: "\ed29";
}
.icon-upload-25:before {
  content: "\ed2a";
}
.icon-upload-26:before {
  content: "\ed2b";
}
.icon-upload-27:before {
  content: "\ed2c";
}
.icon-upload-28:before {
  content: "\ed2d";
}
.icon-upload-29:before {
  content: "\ed2e";
}
.icon-upload-30:before {
  content: "\ed2f";
}
.icon-upload-31:before {
  content: "\ed30";
}
.icon-upload-32:before {
  content: "\ed31";
}
.icon-upload-33:before {
  content: "\ed32";
}
.icon-upload-34:before {
  content: "\ed33";
}
.icon-upload-35:before {
  content: "\ed34";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-lock:before {
  content: "\e98f";
}
